@import 'sw-web-shared/lib/styles/breakpoints';
@import 'sw-web-shared/lib/styles/variables';

.sw-poll-info-wrapper {
    display: flex;
  flex-direction: column;
  
    .sw-form-field {
      width: 28.125rem;
  
      + .sw-form-field {
        margin-top: 15px;
      }
    }
  
    .sw-form-field-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
      grid-gap: 20px;
  
      .MuiFormControl-root {
        flex: 1;
      }
  
      .MuiFormHelperText-root {
        text-align: end;
        margin-right: 0;
      }
  
      .MuiInputBase-root {
        color: $primary-color;
        
  
        &::before,
        &::after {
          border-bottom: 2px solid $primary-color;
        }
      }
    }
  }