@import 'sw-web-shared/lib/styles/variables';
@import 'sw-web-shared/lib/styles/breakpoints';

.sw-roles-wrapper {
  .sw-roles {
    margin-top: 40px;
    grid-gap: 40px;
    @include media-breakpoint('lt-lg') {
      flex-direction: column;
      height: auto;
  
      .sw-box {
        grid-gap: 20px;
      }
    }
  }
}