@import 'sw-web-shared/lib/styles/breakpoints';
@import 'sw-web-shared/lib/styles/variables';



.sw-description-wrapper {
  width: 100%;
  max-width: 310px;

  .sw-form-field {
    width: 100%;
  }


  .sw-form-field + .sw-form-field {
    margin-top: 14px;
  }

  .sw-form-field-content {
    // border: 2px solid $border-color-base;
    // background: rgba($primary-color, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;

    .MuiTypography-root,
    .sw-field-upload,
    .MuiFormControl-root {
      flex: 1;
    }

    .sw-field-upload {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

  }

  .sw-image-upload {
    min-height: 60px;
  }

  .sw-form-field-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;

    .MuiFormControl-root {
      flex: 1;
    }

    .MuiFormHelperText-root {
      text-align: end;
      margin-right: 0;
    }

    .MuiInputBase-root {
      color: $primary-color;

      &::before,
      &::after {
        border-bottom: 2px solid $primary-color;
      }
    }
  }
}
