.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-img {
  width: 40%;
}

.analytics-sidebar {
  background-color: white;
  background-image:url('./assets/sidebar-background.svg');
  max-width: 20%;
  display: flex;
  flex-direction: column;

}

.analytics-sidebar-buttons > * {
  margin: 50px 0;
}

.analytics-main {
  display: flex;
  height:100vh;
  background-image:url('./assets/black-background.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.sw-description > p {
  color: white;
}

.header-row, .content-row {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.header-row {
  margin-bottom: 40px;
  margin-top: 80px;
}

.dashboard-container {
  background-color: white;
  background-image:url('./assets/sidebar-background.svg');
  border: 1px outset black;
  box-shadow: inset 4px 2px 2px 1px rgba(0,0,0,0.3);
  border-radius: 20px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
}



.community-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.community-div > img {
  width: 35% !important;
}

.description-div {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.community-div, .metrics-column {
  margin-right: 30px;
  min-width: 30%;
  max-width: 30%;
}

.metrics-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.members-div > div {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 4px auto;
  align-items: center;
}

.members-div > div > p {
  font-size: 14px;
}

.members-div > div > div {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 14px;
  width: 55%;
  text-align: center;
  padding: 4px;
  border: 1px solid black;
  border-radius: 40px;
}

.community-role-metric {
 font-size: large; 
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 60%;
 margin: 0 auto;
}

.roles-div > h3 {
  text-align: center;
}

.role-icon {
  background-image:url('./assets/role-icon-green.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  color: white;
  /* text-align: center;
  line-height: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-header > h4 {
  margin-left: 0 !important;
}

.user-header > img {
  width: 80px;
}

.chart-div {
  width: 100%;
  max-height: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chart-div > div:first-child {
  min-width: 70%;
  max-width: 85%;
  /* min-height: 50%; */
  /* max-height: 60%; */
}

.chart-legend {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.chart-legend > div {
  margin: 40px 0;
}

.chart-legend > div > * {
  margin: -10px 0;
}

.chart-legend > div > img {
  width: 60%;
}

.VictoryContainer {
  height: 90% !important;
}

.chart-buttons-div {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.listed-contracts > form > input {
  max-width: 100%;
}

.listed-contracts > div > p {
  overflow: hidden;
}

.chart-div > svg {
  /* width: 1000%;
  height: 1000px; */
  margin: 0 auto;
  min-height: 300px;
}

.chart-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.chart-nav > div {
  display: flex;
  width: 30%;
}

.chart-nav > div > p {
  margin: 2px 10px;
}

.chart-nav > div > p:hover {
  cursor: pointer;
}

.chart-buttons-div > button {
  background-color: #BEBEBE;
  border-radius: 40px;
  padding: 1px 12px;
  border: 0;
  display: flex;
  align-items: center;
  box-shadow: 0.2px 0.5px #505050;
}

.chart-buttons-div > button:hover {
  cursor: pointer;
  margin-bottom: 1.5px;
  box-shadow: 1.6px 2.0px #080808;
}

.chart-buttons-div .disabled:hover {
  box-shadow: 0.2px 0.5px #505050;
  margin-bottom: 0;
}

.chart-buttons-div > button > p {
  margin-right: 6px;
}

#chartType {
  border: 5px solid black;
  border-radius: 40px;
  text-align: center;
  background-color: #080808;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

#chartType:hover {
  cursor: pointer;
}

.error-msg {
  font-size: 12px;
  color: red;
}

.deploy-disabled {
  cursor: default !important;
  margin-bottom: 0px !important;
}




.loader {
	--color: black;
	--size-mid: 6vmin;
	--size-dot: 1.5vmin;
	--size-bar: 0.4vmin;
	--size-square: 3vmin;
	
	display: block;
	position: relative;
	width: 50%;
	display: grid;
	place-items: center;
}

.loader::before,
.loader::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
}


/**
	loader --2
**/
.loader.two::before,
.loader.two::after {
	width: var(--size-dot);
	height: var(--size-dot);
	background-color: var(--color);
	border-radius: 50%;
	opacity: 0;
	animation: loader-2 0.8s cubic-bezier(0.2, 0.32, 0, 0.87) infinite;
}

.loader.two::after {
	animation-delay: 0.3s;
}

@keyframes loader-2 {
	0%, 80%, 100% {
		opacity: 0;
	}
	
	33% {
		opacity: 1;
	}
	
	0%, 100% {
		transform: translateX(-4vmin);
	}
	
	90% {
		transform: translateX(4vmin);
	}
}


/* .container {
	display: grid;
	grid-template-columns: repeat(3, 18vmin);
	grid-template-rows: repeat(3, 18vmin);
	grid-gap: 1vmin;
} */

.item	{
	/* background: rgba(109, 109, 109, 0.95); */
	display: flex;
	place-items: center;
	border-radius: 4px;
  transition: opacity 0.4s ease;
  position: absolute;
  right: 70px;
  bottom: 10px;
}

.item h2 {
  margin-right: 45px;
}