@import 'sw-web-shared/lib/styles/breakpoints';
@import 'sw-web-shared/lib/styles/variables';

.sw-template-wrapper {
  width: 100%;

  .sw-cards {
    // display: flex;
    // flex-wrap: wrap;
  }

  .sw-card-form {
    position: relative;
    justify-content: space-between;
    &:after {
      height: 160px;
      display: block;
      width: 2px;
      background: $primary-color;
      content: '';
      position: absolute;
      left: 0;
      bottom: 35px;
    }
  }

  .sw-role-fields {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 15px;

    .num-of-actions {
      margin-top: 24px;
    }
  }

  .MuiFormControl-root {
    background: $primary-color;
    .MuiInputBase-root {
      height: 30px;
    }

    + .MuiFormControl-root {
      margin-top: 10px;
    }


  }

  

  .sw-contract-options {
    display: flex;
    justify-content: center;
    grid-gap: 120px;
    margin-top: 25px;

    .sw-btn-label {
      margin-top: 0 !important;
    }

    .MuiButton-endIcon {
      margin-left: 28px;
      svg {
        height: 30px;
      }
    }

    @media only screen and (max-width: 1300px) {
      flex-wrap: wrap;
      grid-gap: 20px;
    }
  }

  .sw-card {
    cursor: pointer;
    transition: $transition;
    &:hover,
    &.active {
      background-color: $primary-color;

      .MuiCardHeader-content .MuiTypography-root,
      .MuiCardContent-root .MuiTypography-root,
      .MuiDivider-root,
      .MuiCardHeader-avatar svg {
        color: white;
        fill: white;
        border-color: white;
        border-color: white;
      }
    }
  }
}

